{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}
    <form action="delete-items/" method="POST">
        {% csrf_token %}
        <h1 class="center">To-Do List</h1>

        <table class="centered striped highlight">
            <thead>
            <tr>
                <th><label>
                    <input id="all" class="filled-in" type="checkbox"/>
                    <span></span>
                </label></th>
                <th>Description</th>
                <th>Status</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <td><label>
                    <input name="{{ task.pk }}" type="checkbox"/>
                    <span></span>
                </label></td>
                <td>{{ task.description }}</td>
                <td>{{ task.get_status_display }}</td>
                <td>{{ task.date }}</td>
                <td>
                    <a href="{% url 'delete' task.pk %}" class="btn waves-effect waves-light deep-orange accent-3"
                       style="display: inline-block"><i class="material-icons">delete</i></a>
                    <a href="{% url 'detail' task.pk %}" class="btn waves-effect waves-light"><i class="material-icons">details</i></a>
                    <a href="{% url 'update' task.pk %}" class="btn waves-effect waves-light blue accent-4"><i
                            class="material-icons">update</i></a>
                </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'new' %}" class="btn-floating btn-large waves-effect waves-light red right pulse"
           style="margin-top: 20px;"><i class="material-icons">add</i></a>

        <button id="btn" class="btn waves-effect waves-light deep-orange accent-3" type="submit" disabled="disabled"
                style="display: inline-block; margin-top: 20px;">Delete marked
        </button>
    </form>
{% endblock %}

{% block script %}
    $('#all').click(function(){
        if ($(this).is(':checked')){
            $('input:checkbox').prop('checked', true);
        } else {
            $('input:checkbox').prop('checked', false);
        }
    });

    $('input[type="checkbox"]').change(function(){
        if ($('input[type=checkbox]').is(":checked")) {
            $('#btn').attr('disabled', false);
        } else {
            $('#btn').attr('disabled', true);
        }
    });
{% endblock %}
